[user]
	email = daniele.riccucci@gmail.com
	name = Daniele Riccucci
	signingKey = 61FD29F51A7B103976A0C78511907E80E78500F1
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[color]
	ui = true
[alias]
	st = status
	last = log -1 HEAD
	discard = checkout --
	unstage = reset HEAD --
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[hub]
	protocol = https
[core]
	excludesfile = ~/.gitignore_global
[pull]
	ff = only
{{ if eq .chezmoi.os "darwin" -}}
[difftool "Kaleidoscope"]
       cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
       cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
       trustexitcode = true
{{- end }}
[init]
       defaultBranch = master
