{{ if eq .chezmoi.os "darwin" -}}
# Homebrew sbin path
export PATH="/usr/local/sbin:${PATH}"
{{- end }}

# Spaceship configuration
# from https://denysdovhan.com/spaceship-prompt/docs/Options.html
SPACESHIP_PROMPT_ADD_NEWLINE="false"
SPACESHIP_BATTERY_THRESHOLD=20
SPACESHIP_EXIT_CODE_SHOW="true"
SPACESHIP_ANSIBLE_SHOW="false"

# Customize GOPATH
export GOPATH="${HOME}/code/go"
# variable substitution is used for multiple paths
# appends bin to each colon-separated path
export PATH="${GOPATH//://bin:}/bin:${PATH}"

# XDG Base Directory specification
# see https://wiki.archlinux.org/index.php/XDG_Base_Directory
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_DATA_HOME="${HOME}/.local/share"

# XDG User Directories specification
# see https://www.freedesktop.org/wiki/Software/xdg-user-dirs/
# and https://www.freedesktop.org/software/systemd/man/file-hierarchy.html
export PATH="${HOME}/.local/bin:${PATH}"

export PATH="${PATH}:${HOME}/Library/Python/3.10/bin"

{{ if eq .chezmoi.os "darwin" -}}
# Add Visual Studio Code (code)
export PATH="${PATH}:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

export PATH="${PATH}:/Applications/MacVim.app/Contents/bin"
export PATH="${PATH}:/Applications/VLC.app/Contents/MacOS/VLC"
{{ end }}
# Source some useful scripts
source "${XDG_DATA_HOME}/transfer.sh"
