{
  "credentials": {
    "app.terraform.io": {
      "token": "
{{- range (bitwarden "item" "app.terraform.io").fields -}}
  {{ if eq .name "token_virgo" -}}
    {{ .value }}
  {{- end }}
{{- end -}}"
    }
  }
}
