use_docker-machine() {
	local env=${1:-default}
	echo Docker machine: $env
{{- if eq .chezmoi.os "darwin" -}}
{{ with $shell := "zsh" }}
	local machine_cmd=$(docker-machine env --shell {{ $shell }} $env)

	eval $(docker-machine env --shell {{ $shell }} $env)
{{- end }}
{{- else -}}
{{ with $shell := "bash" }}
	local machine_cmd=$(docker-machine env --shell {{ $shell }} $env)

	eval $(docker-machine env --shell {{ $shell }} $env)
{{- end }}
{{- end }}
}

